<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<!-- Header Black Block -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 shadow">
    <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">
        <th:block th:each="temp : ${userCurrent}">
            <div th:text="${userCurrent.name +' with roles: ' + userCurrent.roles}"/>
        </th:block>
    </div>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="btn btn-lg btn-secondary" th:href="@{/logout}" role="button">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid" style="background: lightgray">
    <div class="row h-100">
        <!-- Left Menu Tab Pils Block -->
        <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light">
            <div class="sidebar-sticky pt-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
                       role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                       aria-controls="v-pills-user" aria-selected="false">User</a>
                </div>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- tab admin -->
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <!--content for tab admin start-->
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Admin Panel</h1>
                    </div>
                    <div class="table-responsive" style="background: azure">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#adminTable" role="tab"
                                   aria-controls="home">User Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser" role="tab" aria-controls="new">New
                                    User</a>
                            </li>
                        </ul>
                        <!--list tab user -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="adminTable" role="tabpanel">
                                <table class="table table-striped">
                                    <div class="container-fluid" style="background: lightgray">
                                        <div class="row">
                                            <div class="col-sm-3" style="border: gray">
                                                <p><h5>All users</h5></p>
                                            </div>
                                        </div>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Enabled</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        <tr th:each="userObject : ${userList}">
                                            <td th:text="${userObject.id}">ID</td>
                                            <td th:text="${userObject.name}">Name</td>
                                            <td th:text="${userObject.age}">Age</td>
                                            <td th:text="${userObject.email}">Email</td>
                                            <td>
                                                <span th:each="role : ${userObject.getAuthorities()}">
                                                    <span th:text="${role.getAuthority().substring(5)}">Roles</span>
                                                </span>
                                            </td>
                                            <td th:text="${userObject.enabled}">Enable</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary"
                                                        data-toggle="modal"
                                                        data-target="#editUserModal"
                                                        th:attrappend="data-target=${userObject.id}">
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteUserModal"
                                                        th:attrappend="data-target=${userObject.id}">
                                                    Delete
                                                </button>
                                            </td>
                                            <!-- Modal Start-->
                                            <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                                 th:attrappend="id=${userObject.id}">
                                                <div class="modal-dialog" role="document">
                                                    <form th:action="@{/admin/users/edit}" method="post">
                                                        <input type="hidden" name="id" th:value="*{userObject.id}"/>
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Name:</label>
                                                                    <input class="form-control" name="name" type="text" minlength="2" th:value="*{userObject.name}" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Age:</label>
                                                                    <input class="form-control" name="age" type="number" min="1" max="999" th:value="*{userObject.age}" required=""/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Email:</label>
                                                                    <input class="form-control" name="email" maxlength="64" type="email" th:value="*{userObject.email}" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Password:</label>
                                                                    <input class="form-control" name="password" minlength="5" type="password" th:value="*{userObject.password}" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Access:</label>
                                                                    <select multiple size="2" class="form-control" name="enabled" th:value="*{userObject.enabled}">
                                                                        <option value="true">True</option>
                                                                        <option value="false">False</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Role:</label>
                                                                    <select multiple size="3" type="role" name="editUserRoleId" class="form-control">
                                                                        <option selected="selected" th:value="0">---</option>
                                                                        <option th:value="1">ADMIN</option>
                                                                        <option th:value="2">USER</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- Modal End-->
                                            <!-- Modal Start-->
                                            <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDelete" aria-hidden="true"
                                                 th:attrappend="id=${userObject.id}">
                                                <div class="modal-dialog" role="document">
                                                    <form th:action="@{'/admin/users/delete/' + ${userObject.id}}" method="get">
                                                        <input type="hidden" th:value="*{userObject.id}"/>
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabelDelete">Delete User</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Name:</label>
                                                                    <input class="form-control" name="name" type="text" th:value="*{userObject.name}" readonly/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Age:</label>
                                                                    <input class="form-control" name="age" type="text" th:value="*{userObject.age}" readonly/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Email:</label>
                                                                    <input class="form-control" name="email" type="email" th:value="*{userObject.email}" readonly/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Password:</label>
                                                                    <input class="form-control" name="password" type="password" th:value="*{userObject.password}" readonly/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">User's Role:</label>
                                                                    <select multiple size="3" type="role" name="deletUserRoleId" class="form-control" readonly>
                                                                        <option selected="selected" th:value="0">---</option>
                                                                        <option th:value="1">ADMIN</option>
                                                                        <option th:value="2">USER</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- Modal End-->
                                        </tr>
                                    </div>
                                </table>
                            </div>
                            <!--tab new user -->
                            <div class="tab-pane" id="newUser" role="tabpanel">
                                <div class="tab-content">
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center">
                                            <form class="form-horizontal" action="/admin/users/add" method="post">
                                                <div class="form-group">
                                                    <label class="control-label">User's Name:</label>
                                                    <input class="form-control" type="text" minlength="2" name="name" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">User's Age:</label>
                                                    <input class="form-control" type="number" min="1" max="999" name="age" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">User's Email:</label>
                                                    <input class="form-control" type="email" maxlength="64" name="email" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">User's Password:</label>
                                                    <input class="form-control" type="password" minlength="5" name="password" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">User's Role:</label>
                                                    <select multiple size="2" name="newUserRoleId" class="form-control">
                                                        <option th:value="1">ADMIN</option>
                                                        <option selected="selected" th:value="2">USER</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-success">Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--content for tab admin end-->
                </div>
                <!-- user info layer-->
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">User Information-page</h1>
                    </div>
                    <div class="tab-content" style="background: azure">
                        <div class="tab-pane active" id="userTable" role="tabpanel">
                            <table class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                <tr th:value="${userCurrent}">
                                    <td th:text="${userCurrent.id}">ID</td>
                                    <td th:text="${userCurrent.name}">Name</td>
                                    <td th:text="${userCurrent.age}">Age</td>
                                    <td th:text="${userCurrent.email}">Email</td>
                                    <td>
                                        <span th:each="role : ${userCurrent.getAuthorities()}">
                                            <span th:text="${role.getAuthority().substring(5)}">Roles</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a class="btn btn-sm btn-secondary" th:href="@{/home_page_for_all}" role="button">Test "Home page for all"</a>
                            </li>
                        </ul>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>