<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<!-- Header Black Block -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark flex-md-nowrap sticky-top">
    <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">
        <th:block th:each="temp : ${accessWithUserRole}">
            <div th:text="${accessWithUserRole.name +' with roles: ' + accessWithUserRole.roles}"/>
        </th:block>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item text-nowrap">
            <a class="btn btn-lg btn-secondary" th:href="@{/logout}" role="button">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid" style="background: gray">
    <div class="row h-100">
        <!-- Left Menu Tab Pils Block -->
        <div class="col-md-2 col-lg-2 d-md-block bg-light">
            <div class="sidebar-sticky pt-3">
                <div class="nav flex-column nav-pills" aria-orientation="vertical">
                    <a class="block nav-link" id="v-pills-user-tab" href="#v-pills-user" data-toggle="pill" aria-selected="false">USER</a>
                </div>
            </div>
        </div>
        <!-- user info layer-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="background: lightgrey">
            <br>
            <h2>User information-page</h2>
            <br>
            <div class="tab-pane fade" id="v-pills-user" aria-labelledby="v-pills-user-tab">
                <div class="container-fluid border">
                    <p><h4>About user</h4></p>
                </div>
                <div class="tab-content" style="background: azure">
                    <div class="tab-pane active border">
                        <table class="table table-striped">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            <tr th:val="accessWithUserRole">
                                <br>
                                <td th:text="${accessWithUserRole.id}">ID</td>
                                <td th:text="${accessWithUserRole.name}">Name</td>
                                <td th:text="${accessWithUserRole.age}">Age</td>
                                <td th:text="${accessWithUserRole.email}">Email</td>
                                <td>
                                    <span th:each="role : ${accessWithUserRole.getAuthorities()}">
                                        <span th:text="${role.getAuthority().substring(5)}">Roles</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <p><a class="btn btn-sm btn-success" th:href="@{/admin/list}" role="button">Back in admin panel</a></p>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>